<!DOCTYPE html>
<html>
      IF (x=5) true ELSE false ENDIF  
    <body>
        
    
        <p>Number of the day: {{random}} </p>
   
        
     </body>
     IF (y=3) true ELSE false ENDIF
</html>